.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: rgb(202, 152, 152);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
   
}

.sidebar a:hover:not(.active) {
    background-color: rgb(233, 232, 227);
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
}